<h3>Smell out a Cryptocurrency!</h3>
<br/>

<%= form_tag home_sniff_path, :method => 'POST' do %>
    <%= text_field_tag 'sym', nil, placeholder: 'Enter Crypto Symbol', size: 50 %>
    <%= submit_tag 'Sniff!' %>
<% end %>

<br/><br/>

<% if @symbol %>
    <% for x in @sniff_coin %>
        <% if @symbol == x["symbol"] %>
            <%= x["name"] %>: $<%= x["price_usd"] %><br/>
                Rank: <%= x["rank"] %><br/></br>
        <% end %>
    <% end %>
<% end %>